.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    height: 92vh;
    grid-template-areas: "sidebar search" "sidebar main";
}

.sidebar{
    grid-area: sidebar;
    padding: 1rem;
    height: 100%;
}
.search{
    grid-area: search;
    padding: 1rem;
    height: 100%;

}
.main{
    grid-area: main;
    padding: 1rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-evenly;
    gap: 3em;
}
@media screen and (max-width : 800px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "search" "sidebar" "main";
        height: auto;
    }
}